<html>
    <center>BUKU PESERTA</center>

    <center>
        {% for i in data %}
        <table border="1">
            <tr>
                <td>{{i.nama}}</td>
            </tr>
            <tr>
                {% for j in data %}
                <td>{{j.kegiatan}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </center>
    
</html>