<html>
    <center> BUKU PESERTA </center>
    <form action="/hasil/" method="POST"> {% csrf_token %}
        <input type="text" placeholder="Masukkan Nama Kamu" name="nama"><br>
        <input type="text" placeholder="Masukkan Kegiatan Kamu" name="kegiatan"><br>
        <button type="Submit" value="Kirim">Kirim</button>
    </form>
</html>