<html>
    <center>BUKU PESERTA</center>

    <center>
        <table border="1">
            <tr>
                <td>Nama</td>
                <td>Kegiatan</td>
            </tr>
    
            {% for i in data %}
            <tr>
                <td>{{i.nama}}</td>
                <td>{{i.kegiatan}}</td>
            </tr>
            {% endfor %}
    
        </table>
    </center>
    
</html>